<div class="container">
  <div class="row">


  <div class="col-4 d-flex justify-content-center">
    <%= profile_picture @account, 200 %>

  </div>
  <div class="col-8 text-left2">
      <div class="row">
    <div class="col-8">

      <%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-custom btn-muted  float-end color2" if can_edit_profile?(@account.id)  %>
    <h1 class="color2"><%= @account.username %></h1>

  </div>
  </div>
    <div class="row profile-stats color2">
        <div class="col-4">
        <strong><%= @account.posts.count %></strong> posts
        </div>
        <div class="col-4">
      <strong><%= @account.total_followers %></strong> followers
      </div>
      <div class="col-4">
      <strong><%= @account.total_following %></strong> following
      </div>


    </div>

    <p class="color2"> <strong><%= @account.full_name %></strong></p>
    <div class="color2 whitespace">


    <%= simple_format @account.description %>
    </div>
    <p class="color2 marginini"><%= link_to @account.website if @account.website.present? %></p>

  </div>


  </div>
    <div class="row profile-posts color2" style="
padding-left: 105px;
padding-right: 200px;">




        <% @posts.each do |post| %>
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" >

        <div class="insta-post post-square" style="background:url(<%= post.image.variant(saver: { quality: 50 }, resize_to_fill: [700, 500, gravity: 'north']).processed.service_url%>) no-repeat center top; border-radius: 0px;">
            <%= link_to post_path(post) do  %>
          <div class="post-stats">
            <div class="inner">
            <i class="fa fa-heart ikone"> </i><%=  post.total_likes_count? ?  post.total_likes_count : 0 %>
            <i class="fa fa-comment m-l-15 ikone"> </i><%= post.total_comments_count? ?  post.total_comments_count : 0%>
            </div>
            </div>
              <%end %>

        </div>
        </div>
        <%end %>
      </div>
</div>
